.catalog-icon-clear {
    background: url('/assets/catalog/x_icon.png');
    height: 11px;
    width: 11px;
}

.catalog-small-coin {
    background: url('/assets/catalog/small_coin.png');
    height: 11px;
    width: 11px;
}

.catalog-small-diamond {
    background: url('/assets/catalog/small_diamond.png');
    height: 11px;
    width: 11px;
}

.catalog-small-ducket {
    background: url('/assets/catalog/small_ducket.png');
    height: 11px;
    width: 11px;
}
