.habbo-icon {
    @apply inline-block outline-0 bg-no-repeat shrink-0;
    background-image: url('/assets/icons/habbo-icons.png');

    &.icon-arrow-down {
        width: 9px;
        height: 10px;
        background-position: -0px -0px;
    }

    &.icon-arrow-up {
        width: 9px;
        height: 10px;
        background-position: -10px -0px;
    }

    &.icon-arrow-left {
        width: 10px;
        height: 9px;
        background-position: -20px -0px;
    }

    &.icon-arrow-right {
        width: 10px;
        height: 9px;
        background-position: -31px -0px;
    }

    &.icon-tri-arrow-left {
        width: 5px;
        height: 10px;
        background-position: -42px -0px;
    }

    &.icon-tri-arrow-right {
        width: 5px;
        height: 10px;
        background-position: -48px -0px;
    }

    &.icon-tri-arrow-up {
        width: 10px;
        height: 5px;
        background-position: -54px -0px;
    }

    &.icon-tri-arrow-down {
        width: 10px;
        height: 5px;
        background-position: -54px -6px;
    }

    &.icon-accept {
        width: 16px;
        height: 13px;
        background-position: -65px -0px;
    }

    &.icon-decline {
        width: 13px;
        height: 13px;
        background-position: -82px -0px;
    }

    &.icon-coin {
        width: 27px;
        height: 24px;
        background-position: -0px -49px;
    }

    &.icon-club-small {
        width: 16px;
        height: 10px;
        background-position: -96px -0px;
    }

    &.icon-vip-small {
        width: 19px;
        height: 10px;
        background-position: -113px -0px;
    }

    &.icon-club-square {
        width: 16px;
        height: 16px;
        background-position: -0px -16px;
    }

    &.icon-vip-square {
        width: 16px;
        height: 16px;
        background-position: -17px -16px;
    }

    &.icon-club-square-big {
        width: 37px;
        height: 37px;
        background-position: -32px -49px;
    }

    &.icon-vip-square-big {
        width: 37px;
        height: 37px;
        background-position: -70px -49px;
    }

    &.icon-club-gigantic {
        width: 68px;
        height: 41px;
        background-position: -108px -49px;
    }

    &.icon-vip-gigantic {
        width: 85px;
        height: 41px;
        background-position: -177px -49px;
    }

    &.icon-pixel {
        width: 23px;
        height: 26px;
        background-position: -34px -16px;
    }

    &.icon-clear-text-field {
        width: 13px;
        height: 13px;
        background-position: -133px -0px;
    }

    &.icon-extended-profile {
        width: 13px;
        height: 11px;
        background-position: -149px -0px;
    }

    &.icon-extended-profile-hover {
        width: 13px;
        height: 11px;
        background-position: -165px -0px;
    }

    &.icon-loading-1 {
        width: 15px;
        height: 15px;
        background-position: -181px -0px;
    }

    &.icon-loading-2 {
        width: 15px;
        height: 15px;
        background-position: -197px -0px;
    }

    &.icon-loading-3 {
        width: 15px;
        height: 15px;
        background-position: -213px -0px;
    }

    &.icon-loading-4 {
        width: 15px;
        height: 15px;
        background-position: -229px -0px;
    }

    &.icon-snowflake {
        width: 21px;
        height: 20px;
        background-position: -57px -16px;
    }

    &.icon-lock {
        width: 20px;
        height: 24px;
        background-position: -78px -16px;
    }

    &.icon-valentines {
        width: 18px;
        height: 18px;
        background-position: -99px -16px;
    }

    &.icon-horseshoe-big {
        width: 22px;
        height: 22px;
        background-position: -116px -16px;
    }

    &.icon-horseshoe-small {
        width: 14px;
        height: 14px;
        background-position: -244px -0px;
    }

    &.icon-ducket-big {
        width: 22px;
        height: 22px;
        background-position: -160px -16px;
    }

    &.icon-ducket-small {
        width: 14px;
        height: 14px;
        background-position: -272px -0px;
    }

    &.icon-credit-big {
        width: 22px;
        height: 22px;
        background-position: -138px -16px;
    }

    &.icon-credit-small {
        width: 14px;
        height: 14px;
        background-position: -258px -0px;
    }

    &.icon-subscription-point-big {
        width: 22px;
        height: 22px;
        background-position: -182px -16px;
    }

    &.icon-subscription-point-small {
        width: 14px;
        height: 14px;
        background-position: -286px -0px;
    }

    &.icon-nut-big {
        width: 22px;
        height: 20px;
        background-position: -204px -17px;
    }

    &.icon-nut-small {
        width: 14px;
        height: 14px;
        background-position: -301px -0px;
    }

    &.icon-nut-credit-combo {
        width: 53px;
        height: 20px;
        background-position: -228px -17px;
    }

    &.icon-diamond-big {
        width: 19px;
        height: 19px;
        background-position: -283px -18px;
    }

    &.icon-diamond-small {
        width: 11px;
        height: 11px;
        background-position: -316px -1px;
    }

    &.icon-diamond-credit-combo {
        width: 55px;
        height: 20px;
        background-position: -305px -17px;
    }

    &.icon-star-big {
        width: 22px;
        height: 22px;
        background-position: -360px -16px;
    }

    &.icon-star-small {
        width: 14px;
        height: 14px;
        background-position: -328px -0px;
    }

    &.icon-cloud-small {
        width: 14px;
        height: 12px;
        background-position: -343px -1px;
    }

    &.icon-cloud-big {
        width: 19px;
        height: 20px;
        background-position: -384px -18px;
    }

    &.icon-cloud-credit-combo {
        width: 50px;
        height: 20px;
        background-position: -405px -17px;
    }

    &.icon-pumpkin-small {
        width: 13px;
        height: 13px;
        background-position: -358px -0px;
    }

    &.icon-pumpkin-big {
        width: 22px;
        height: 21px;
        background-position: -456px -16px;
    }

    &.icon-pumpkin-credit-combo {
        width: 54px;
        height: 21px;
        background-position: -479px -16px;
    }

    &.icon-unknown-16x16 {
        width: 16px;
        height: 16px;
        background-position: -0px -91px;
    }

    &.icon-loyalty-big {
        width: 22px;
        height: 22px;
        background-position: -534px -16px;
    }

    &.icon-loyalty-small {
        width: 14px;
        height: 14px;
        background-position: -371px -0px;
    }

    &.icon-seashell {
        width: 20px;
        height: 20px;
        background-position: -433px -40px;
    }
}
